.card {
  border: 1px solid #087b8a;
  background-color: #ee5f5f;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  font-family: Arial, sans-serif;
  text-align: center;
  display: inline-block;

  
}
.card img {
  width: 200px;
  
}